<ion-header [translucent]="true">
  <ion-toolbar>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Indonesia History</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card" style="width: 25rem;">
    <img src="assets/History/GBK.jpeg" class="card-img-top" alt="GBK">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Gelora Bung Karno</h5>
      <p class="card-text">Stadion gelora bung karno yang terletak di Jakarta ini merupakan stadion pertama yang ada di Indonesia, stadion ini khusus dibangun oleh soekarno untuk menyambut asian games tahun 1962 yang kala itu Indonesia menjadi tuan rumahnya.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/History/Gedung merdeka.jpg" class="merdeka" alt="Gedung">
    <div class="card-body">
      <h5 class="card-title"style="font-size:25px;">Gedung merdeka</h5>
      <p class="card-text">Gedung yang berada di Kota Bandung ini memilki banyak keunikan salah satunya adalah dari penamaan gedung tersebut yang didorong oleh semangat perjuangan untuk mencapai kemerdekaan bangsa asia afrika yang masih terjajah dan juga menawarkan wisata tempo dulu karena bangunan dari Gedung merdeka masih sangat terawat.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/History/Borobudur.jpg" class="candi" alt="Candi borobudur">
    <div class="card-body">
      <h5 class="card-title"style="font-size:25px;">Candi Borobudur</h5>
      <p class="card-text">Destinasi wisata paling terkenal ini terletak di Magelang, Jawa tengah. Candi Borobudur masuk ke dalam 7 keajaiban dunia, Candi ini dibangun dengan 2 juta batu dan merupakan salah satu peninggalan buddha terbesar yang pernah dibangun.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/History/Benteng.jpg" class="Benteng" alt="Rotterdam">
    <div class="card-body">
      <h5 class="card-title"style="font-size:25px;">Benteng Fort Rotterdam</h5>
      <p class="card-text">Terletak di kota Makassar, Sulawesi Selatan. Ini merupakan peninggalan dari kerajaan gowa tallo, keunikan dari benteng ini adalah bentuknya yang menyerupai penyu.</p>
    </div>
  </div>
</ion-content>
