<ion-header [translucent]="true">
  <ion-toolbar>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Indonesia city</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="city" style="width:24rem;">
    <img src="assets/City/Bandung.jpg" class="city" alt="Bandung City">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;font-style:italic;">Bandung City</h5>
      <p class="card-text" style="text-align:justify;">Bandung merupakan salah satu kota yang ada di pulau Jawa, kota yang memiliki julukan sebagai kota kembang yang juga menjadi ibu kota Provinsi Jawa Barat ini merupakan kota terbesar ketiga di Indonesia setelah Jakarta dan Surabaya. Ciri khas dari kota kembang ini adalah bahasa sunda yang paling sering di gunakan warga Bandung.
      Banyak sekali spot pariwisata yang bisa dijadikan tujuan perjalanan dari kota ini, contohnya seperti:
      </p>
    </div>
    <ul class="kelebihan">
      <li>Gedung sate</li>
      <li>Kawah putih ciwidey</li>
      <li>Jalan asia afrika</li>
      <li>Dusun bambu lembang</li>
    </ul>
  </div>
  <div class="city" style="width:24rem;">
    <img src="assets/City/Denpasar.jpeg" class="city" alt="Denpasar City">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;font-style:italic;">Denpasar City</h5>
      <p class="card-text" style="text-align:justify;">Ibu kota dari provinsi Bali ini merupakan salah satu kota yang sangat terkenal baik dalam negeri maupun luar negeri adalah di sektor pariwisatanya, pesona Bali yang menjadi daya tarik wisatawan adalah keindahan Pantai yang benar – benar menjadi magnet bagi wisatawan mancanegara untuk datang ke kota ini.
      Berbagai spot wisata yang ada di Denpasar antara lain:  
      </p>
    </div>
    <ul class="kelebihan">
      <li>Pantai sanur</li>
      <li>Mangrove Boardwalk</li>
      <li>Pantai mertasari</li>
    </ul>
  </div>
  <div class="city" style="width:24rem;">
    <img src="assets/City/Jakarta.jpg" class="city" alt="Jakarta City">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;font-style:italic;">Jakarta City</h5>
      <p class="card-text" style="text-align:justify;">Jika membicarakan Indonesia tidak boleh lupa membicarakan salah satu kota yang menjadi ikon dan pusat ekonomi Indonesia yaitu, Jakarta.
      Ibukota dari DKI Jakarta ini juga merupakan ibukota negara Indonesia, yang menjadi kota yang paling masif pembangunannya dan kota paling modern di Indonesia, beberapa spot wisata yang ada di Ibukota negara Indonesia ini adalah:
      </p>
    </div>
    <ul class="kelebihan">
      <li>Monas</li>
      <li>Kota tua</li>
      <li>Bundaran HI</li>
      <li>Gelora Bung Karno</li>
      <li>Jakarta International Stadium</li>
    </ul>
  </div>
  <div class="city" style="width:24rem;">
    <img src="assets/City/Makassar.png" class="city" alt="Makassar City">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;font-style:italic;">Makassar City</h5>
      <p class="card-text" style="text-align:justify;">Makassar kota yang terkenal dengan soto makassarnya ini merupakan kota yang menjadi ibukota dari Provinsi Sulawesi selatan, merupakan salah satu kota dengan penuh sejarah yang menjadikan Makassar menjadi spot wisata dengan penuh nilai sejarah, spot wisatanya seperti:
      </p>
    </div>
    <ul class="kelebihan">
      <li>Benteng Fort Rotterdam</li>
      <li>Pantai losari</li>
      <li>Pantai Akkarena</li>
    </ul>
  </div>
  <div class="city" style="width:24rem;">
    <img src="assets/City/Palembang.jpg" class="city" alt="Palembang City">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;font-style:italic;">Palembang City</h5>
      <p class="card-text" style="text-align:justify;">Kota yang terkenal dengan pempek yang menjadi ciri khas dari kota ini, merupaka ibukota provinsi Sumatera Selatan, jika berkunjung ke kota ini akan disuguhkan pemandangan yang luar biasa Indah, beberapa spot wisata yang bisa dikunjungi:
      </p>
    </div>
    <ul class="kelebihan">
      <li>Jembatan ampera</li>
      <li>Masjid cheng ho</li>
      <li>Museum balaputradewa</li>
    </ul>
  </div>
  <div class="city" style="width:24rem;">
    <img src="assets/City/Pontianak.jpg" class="city" alt="Pontianak City">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;font-style:italic;">Pontianak City</h5>
      <p class="card-text" style="text-align:justify;">Kota yang dijuluki kota khatulistiwa ini merupakan kota yang terletak di pulau kalimantan dan juga menjadi ibu kota Kalimantan barat, spot wisata yang ditawarkan:
      </p>
    </div>
    <ul class="kelebihan">
      <li>Tugu bambu runcing</li>
      <li>Tugu khatulistiwa</li>
      <li>Rumah betang Radakang</li>
    </ul>
  </div>
  <div class="city" style="width:24rem;">
    <img src="assets/City/Yogyakarta.jpg" class="city" alt="Yogyakarta City">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;font-style:italic;">Yogyakarta City</h5>
      <p class="card-text" style="text-align:justify;">Dikenal sebagai kota istimewa karena sangat kental dengan budaya keraton yang masih sangat kental menyelimuti kota ini, selain itu julukan lain dari kota ini adalah kota pelajar, spot wisata yang ditawarkan:
      </p>
    </div>
    <ul class="kelebihan">
      <li>Jalan malioboro</li>
      <li>Keraton Yogyakarta</li>
      <li>Dll....</li>
    </ul>
  </div>
</ion-content>
