<ion-header [translucent]="true">
  <ion-toolbar>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Indonesia Beach</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card" style="width: 25rem;">
    <img src="assets/Beach/Pink.jpeg" class="Beach" alt="Pink beach">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Pink beach</h5>
      <p class="card-text">Pantai yang berada di NTT ini memiliki keunikan dengan pasir pantainya yang berwarna pink yang menjadikan pantai ini menjadi salah satu pantai unik yang ada di Indonesia, menawarkan pantai dengan air yang jernih dan terumbu karang yang dipenuhi ikan tropis dan arus yang kuat</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/Beach/Belitung.jpg" class="Beach" alt="Belitung island">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Belitung island</h5>
      <p class="card-text">Wisata yang terletak di Bangka belitung ini memiliki keunikan seperti, banyaknya tumpukan granit yang menjadi aksesoris dari pantai ini. Pantai ini juga termasuk ke dalam pantai yang sepi yang menjadikan siapa saja yang berkunjung akan merasa seperti di pulau pribadi.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/Beach/Raja.jpg" class="Beach" alt="Raja Ampat">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Raja Ampat</h5>
      <p class="card-text">Spot wisata yang sudah sangat terkenal akan keindahan bawah lautnya ini menawarkan pengalaman menyelam yang sangat indah, sebab para penyelam akan disuguhkan dengan banyaknya terumbu karang menjadikan Raja Ampat menjadi surga bagi para penyelam.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/Beach/Sawarna.jpg" class="Beach" alt="Sawarna beach">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Sawarna beach</h5>
      <p class="card-text">Pantai yang terletak di Banten menawarkan berbagai keunikan seperti, pemandangan hamparan pasir putih yang terbentang di sepanjang bibir pantai</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/Beach/Tomini.jpg" class="Beach" alt="Tomini bay">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Tomini bay</h5>
      <p class="card-text">Banyak sekali keunikan yang terdapat di pantai ini seperti, wisatawan akan menemukan terumbu karang raksasa, ikan nemo, anemo, gurita, ikan gobi dan masih banyak biota laut yang bisa dijumpai wisatawan, Selain itu Tomini bay ini juga memiliki air yang sangat jernih jadi wisatawan bisa langsung melihat hamparan terumbu karang dari atas permukaan.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/Beach/Weh.jpg" class="Beach" alt="Weh Island">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Weh Island</h5>
      <p class="card-text">Spot wisata yang terletak di Aceh ini menawarkan berbagai macam keindahan seperti, sunrise terbaik, berlayar bersama lumba – lumba dan keunikan – keunikan lainnya.</p>
    </div>
  </div>
</ion-content>
