<ion-header [translucent]="true">
  <ion-toolbar>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Indonesia Mountain</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card" style="width: 25rem;">
    <img src="assets/Mountain/Bromo.jpg" class="Mountain" alt="Bromo Mountain">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Bromo Mountain</h5>
      <p class="card-text">Gunung yang terletak di Jawa timur ini memiliki keunikan yaitu merupakan gunung berapi yang masih berstatus aktif, selain itu hawa dingin juga akan dirasakan oleh pengunjung saat datang ke gunung ini.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/Mountain/Jayawijaya.jpg" class="Mountain" alt="Jayawijaya Mountain">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Jayawijaya Mountain</h5>
      <p class="card-text">GGunung ini terletak di Papua, Gunung ini dinobatkan sebagai puncak tertinggi di Indonesia, keunikan lainnya gunung ini masih terdapat es yang sudah ada dari zaman es tepatnya es tersebut berada di puncak dari pegunungan Jayawijaya.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/Mountain/Kerinci.jpg" class="Mountain" alt="Kerinci Mountain">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Kerinci Mountain</h5>
      <p class="card-text">Keunikan dari gunung yang berada di Sumatera barat ini adalah, merupakan gunung berapi tertinggi yang ada di Indonesia dan juga Gunung ini masuk ke dalam warisan dunia UNESCO, disana pun terdapat perkebunan teh kayu Aro tertua di Indonesia.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/Mountain/Latimojong.jpg" class="Mountain" alt="Latimojong Mountain">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Latimojong Mountain</h5>
      <p class="card-text">Gunung ini terletak di Sulawesi selatan, merupakan gunung tertinggi di Pulau sulawesi selatan dan juga merupakan 1 dari 7 gunung tertinggi yang ada di Indonesia.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="assets/Mountain/Rinjani.jpg" class="Mountain" alt="Rinjani Mountain">
    <div class="card-body">
      <h5 class="card-title" style="font-size:25px;">Rinjani Mountain</h5>
      <p class="card-text">Gunung yang berada di NTB ini 	menawarkan beragam keunikan salah satunya adalah kekayaan flora yang bisa ditemukan begitu beragam juga menawarkan pemandangan yang sangat indah.</p>
    </div>
  </div>
</ion-content>
